---
import {
  mobile,
  frontend,
  backend,
  otherStacks,
  tools,
  architecture
} from '../data/TechStackDb'
import TechStackSection from '@components/TechStack/TechStackSection.astro'
import TextHeader from '@components/TextHeader.astro'
import MainLayout from '@layouts/MainLayout.astro'
import { t } from 'i18next'
---

<MainLayout
  title="Sharpyx's tech stack"
  description="Artem Skopincev - tech stack"
>
  <div class="flex flex-col">
    <div class="self-center text-4xl">
      <TextHeader class={`text-dark-header`}>
        {t('pages.techstack.title')}
      </TextHeader>
    </div>
    <p class="pt-8 pb-8">{t('pages.techstack.short_description')}</p>
    <div class="stack-list flex flex-col gap-16">
      <TechStackSection
        title={t('pages.techstack.mobile.title')}
        description={t('pages.techstack.mobile.description')}
        stackItems={mobile}
      />
      <TechStackSection
        title={t('pages.techstack.frontend.title')}
        description={t('pages.techstack.frontend.description')}
        stackItems={frontend}
      />
      <TechStackSection
        title={t('pages.techstack.backend.title')}
        description={t('pages.techstack.backend.description')}
        stackItems={backend}
      />
      <TechStackSection
        title={t('pages.techstack.architecture.title')}
        description={t('pages.techstack.architecture.description')}
        stackItems={architecture}
      />
      <TechStackSection
        title={t('pages.techstack.otherstacks.title')}
        description={t('pages.techstack.otherstacks.description')}
        stackItems={otherStacks}
      />
      <TechStackSection
        title={t('pages.techstack.tools.title')}
        description={t('pages.techstack.tools.description')}
        stackItems={tools}
      />
    </div>
  </div>
</MainLayout>
