---
import {
  mobile,
  frontend,
  backend,
  otherStacks,
  tools,
  architecture
} from '../data/TechStackDb'
import TechStackSection from '@components/TechStack/TechStackSection.astro'
import TextHeader from '@components/TextHeader.astro'
import MainLayout from '@layouts/MainLayout.astro'
---

<MainLayout
  title="Sharpyx's tech stack"
  description="Artem Skopincev - tech stack"
>
  <div class="flex flex-col">
    <div class="self-center text-4xl">
      <TextHeader class={`text-dark-header`}>Tech stack that I use</TextHeader>
    </div>
    <p class="pt-8 pb-8">
      Here described my technical stack that i use. Most experienced in Mobile
      development, I have another skills that allows me to make self projects.
    </p>
    <div class="stack-list flex flex-col gap-16">
      <TechStackSection
        title="Mobile development"
        description="It's my main direction of development, i use:"
        stackItems={mobile}
      />
      <TechStackSection
        title="Frontend"
        description="I used this tech items for my personal frontend projects"
        stackItems={frontend}
      />
      <TechStackSection
        title="Backend"
        description="I used this tech items for my personal backend projects"
        stackItems={backend}
      />
      <TechStackSection
        title="Things for better apps"
        description="I used this tech items for my personal backend projects"
        stackItems={architecture}
      />
      <TechStackSection
        title="Other stack's"
        description="I used this tech items for my personal backend projects"
        stackItems={otherStacks}
      />
      <TechStackSection
        title="Tools"
        description="I used this tech items for my personal backend projects"
        stackItems={tools}
      />
    </div>
  </div>
</MainLayout>
